* {
  box-sizing: border-box;
  scroll-behavior: smooth; /* Suaviza a rolagem */
}

body {
  background: linear-gradient(to bottom, #ffffff, #acacac); /* Degradê suave */
  min-height: 100vh;
  margin: 0;
  font-family:'lora', sans-serif;
}

h2 {
  font-family: 'Pacifico', cursive; /* Fonte personalizada para os títulos */
  color: #000000; /* Cor do texto */
  text-align: left; /* Centraliza o texto */
  margin-top: 2px; /* Espaço acima do título */
}

/* cabeçalho */
header {
   background-image: url('./img/fundo-celular.png');
  background-size: cover;
  background-position: end center;
  height: 110px;
  box-shadow: #333 0px 4px 6px -1px, #333 0px 2px 4px -1px;
}
@media (max-width: 768px) {
  header {
    height: 30vh;
    background-position: top center;
    display: flex;       
    justify-content: space-between; 
    align-items: center; 
  }
}

/* corpo principal */
main {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.home-section {
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.elenco-section {
   margin-top: 2rem;
   margin-bottom: 5rem;
}

.cortes-section {
   margin-top: 2rem;
   margin-bottom: 5rem;
}

.sobre-section {
   margin-top: 2rem;
   margin-bottom: 5rem;
}

/* Centraliza o conteúdo do header */
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}


/* Logo à esquerda */
.logo img {
  max-height: 80px;
  margin-top: 25px; /* Espaço acima do logo */
}


/* Título centralizado */
.title {
  flex: 1;
  display: flex;
  justify-content: center;   
  align-items: center;       
  max-height: 80px;
  text-align: center;
}

.title img {
  max-height: 14rem;
  margin-top: -100px;
}


/* Menu à direita */
nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
}


/* Estilo do Menu */
.dropdown {
  position: relative;
  display: inline-block;
}

#menu-button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 0.3rem;
}

.dropdown-menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #444;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 4px solid #555;
  border-radius: 6px;
}

.dropdown-menu li {
  border-bottom: 1px solid #555;
}

.dropdown-menu li a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu li a:hover {
  background-color: #555;
}

.dropdown-menu.active {
  max-height: 15rem; /* suficiente para mostrar todos os itens */
  opacity: 1;
}

/* Footer fixo no fundo */
footer {
  background-color: #333;
  color: white;
  padding: 0.3rem;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between; /* Separa o texto do ícone */
  align-items: center;
  height: 3rem; /* Altura do footer */
  padding: 0 1rem; /* Espaço nas laterais */
}

/* Container do texto central */
.footer-text {
  text-align: center; /* Centraliza o texto */
  flex-grow: 1; /* Permite que o texto ocupe o espaço disponível */
}

/* Container do YouTube à direita */
.youtube {
  margin-left: auto; /* Empurra para a direita */
}

/* Estiliza a imagem do YouTube */
.youtube img {
  width: 5rem; 
  height: auto;
}

/* Estiliza a imagem do instagram */
.instagram img {
  width: 2rem; 
  height: auto;
}

.youtube img, .instagram img {
  margin-left: 0,5rem; /* Espaço entre os ícones */
  cursor: pointer; /* Indica que é clicável */;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 0 20px;
  }

  nav {
    transform: none;
    justify-content: center;
  }

  .title img {
    max-height: 10rem;
  }
}

/* Formulario de contato */
.contato-section {
    margin-top: 2rem;
    margin-bottom: 5rem;
    text-align: left; /* Alinha o texto à esquerda */
}

.contact-form {
    background-color: rgba(255, 255, 255, 0.9); /* Fundo branco com leve transparência */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px; /* Largura máxima do formulário */
    margin: 0; /* Remove a centralização */
}

.form-group {
    margin-bottom: 15px; /* Espaço entre os campos */
    text-align: left; /* Alinha o texto à esquerda */
}

label {
    display: block; /* Faz o label ocupar toda a largura */
    margin-bottom: 5px; /* Espaço abaixo do label */
    font-weight: bold; /* Deixa o texto do label em negrito */
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%; /* Largura total */
    padding: 10px; /* Espaçamento interno */
    border: 1px solid #ccc; /* Borda cinza */
    border-radius: 4px; /* Bordas arredondadas */
    font-size: 1rem; /* Tamanho da fonte */
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #333; /* Muda a cor da borda ao focar */
    outline: none; /* Remove o contorno padrão */
}

.submit-button {
    background-color: #333; /* Cor de fundo do botão */
    color: white; /* Cor do texto do botão */
    padding: 10px 20px; /* Espaçamento interno do botão */
    border: none; /* Remove a borda padrão */
    border-radius: 4px; /* Bordas arredondadas */
    cursor: pointer; /* Muda o cursor ao passar sobre o botão */
    font-size: 1rem; /* Tamanho da fonte */
    transition: background-color 0.3s; /* Transição suave para a cor de fundo */
}

.submit-button:hover {
    background-color: #555; /* Cor de fundo ao passar o mouse */
}